<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://drshapeless.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://drshapeless.com/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://drshapeless.com/favicon-16x16.png"
    />
    <link rel="manifest" href="https://drshapeless.com/site.webmanifest" />
    <link rel="stylesheet" href="https://drshapeless.com/css/default.css" />
    <meta charset="utf-8" />
    <title>homepage - drshapeless blog</title>
  </head>
  <body>
    <a href="https://blog.drshapeless.com">
      <div class="header">
        <h1>drshapeless blog</h1>
      </div>
    </a>

    <div class="navbar">
      <a href="https://drshapeless.com">Main site</a>
      <a href="https://drshapeless.com/about_me.html">About me</a>
      <a href="https://drshapeless.com/contact.html">Contact</a>
      <a href="https://drshapeless.com/taste.html">Taste</a>
      <a href="https://github.com/drshapeless" class="right">GitHub</a>
    </div>

    <div class="content">
      <h2>Tags</h2>

      <ul class="blog-list-tags-list">
        {{for tag in tags}}
        <li class="blog-list-tags-list-item">
          <a href="https://blog.drshapeless.com/tags/{tag}.html"> {tag} </a>
        </li>
        {{endfor}}
      </ul>
    </div>
  </body>
</html>
