<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://drshapeless.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://drshapeless.com/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://drshapeless.com/favicon-16x16.png"
    />
    <link rel="manifest" href="https://drshapeless.com/site.webmanifest" />
    <link rel="stylesheet" href="https://drshapeless.com/css/default.css" />
    <meta charset="utf-8" />
    <title>{tag} - drshapeless blog</title>
  </head>
  <body>
    <a href="https://blog.drshapeless.com">
      <div class="header">
        <h1>drshapeless blog</h1>
      </div>
    </a>

    <div class="navbar">
      <a href="https://drshapeless.com">Main site</a>
      <a href="https://drshapeless.com/about_me.html">About me</a>
      <a href="https://drshapeless.com/contact.html">Contact</a>
      <a href="https://drshapeless.com/taste.html">Taste</a>
      <a href="https://github.com/drshapeless" class="right">GitHub</a>
    </div>

    <div class="content">
      <h3>{tag}</h3>
      <ul class="blog-homepage-list">
        {{for blog in blogs}}
        <li class="blog-homepage-list-item">
          <a href="https://blog.drshapeless.com/posts/{blog.url}.html">
            <h2 class="blog-homepage-title">{blog.title}</h2>
          </a>
          <div class="blog-homepage-metadata">
            <ul class="blog-homepage-tags">
              {{for t in blog.tags}}
              <li>
                <a href="https://blog.drshapeless.com/tags/{t}.html">
                  <div class="blog-homepage-tag-item">{t}</div>
                </a>
              </li>
              {{endfor}}
            </ul>
            <div class="blog-homepage-timestamp">
              Create at: {blog.create_time} Update at: {blog.edit_time}
            </div>
          </div>
          <div class="blog-homepage-preview">{blog.preview}</div>
        </li>
        {{endfor}}
      </ul>
    </div>
  </body>
</html>
